.deps/
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.h.in
config.h.in~
config/
configure
gbtools_version.m4
m4/
*.a
*.la
*.lai
*.lo
*.o
*.gch
NOTES
stamp-h1
config.log
config.status
libtool
config.h
